* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
  margin: 20px 0 0 0;
}

h1 {
  margin: 1em 0 1em;
}

table {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid gray;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 25px;
  height: 25px;
  /*background: white;*/
}

input[type="checkbox"]:checked {
  background: black;
}

input[type="checkbox"]:checked.hit {
  background: red;
}

hr {
  margin: 20px 0;
}



.ships {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.ships span {
  display: block;

}

.hidden {
  display: none !important;
}

.game {
  display: inline-block;
}

.info {
  float:left;
}

.info p {
  font-weight: bold;
  padding: 0 0 20px 0;
}

#playerBoard,
.info {
  display: inline-block;
}

.info .boats {
  margin: 10px 0 5px 0;
  position: relative;
  height: 50px;
  background-color: #cdcdcd;
}

.ship {
  position: absolute;
  background-color: black;
  height: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
}

.aircraftCarrier {
  width: 95px;
  z-index: 2;
}

.battleship {
  width: 80px;
}

.submarine {
  width: 60px;
}

.destroyer {
  width: 60px;
}

.patrol {
  width: 40px;
}

#testDrop {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 500px;
  background-color: #cdcdcd;
  z-index: 1;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

button:hover {
  background-color: #cdcdcd;
}

